/*-------common-------*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    border-radius: 5px;
    background:#E55473; 
    width: 100px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
}
/*-------navbar-------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #E55473;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center; 
}
nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/*-------header-------*/
.header{
    background-color:#e554731a;
}
.banner{
    padding: 30px 150px 0px 210px;
    display: flex;    
    align-items: center;
   
}
.banner .banner-flower{
    width: 480px;
    
}

/*-------Support-------*/
.support-content{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;    
    align-items: center;    
    padding: 0px 300px 0px 300px;
    
}


/*-------hot-deal-------*/
.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;    
    align-items: center;
    gap: 20px;
    text-align: center;
}
.hot-deal-content{
    padding: 10px 250px 0px 200px;
    
}

.hot-deal-flower{
    margin-right: 20%;
    
}




/*-------instagram-------*/
.instagram{
    text-align:  center;
}
.insta-flower{
    display: flex;
    padding: 10px 50px 0px 105px; 
    gap: 23px;
}
#instagram-pargraph{
    padding: 0px 549px 0px 548px;
}



/*-------get the latest deal-------*/
.latest-deal{
    text-align: center;
    background-image: url("../images/Rectangle9.png");
    height: 320px;
    margin: 20px 50px 0px 100px;
    padding-top: 150px;
    background-repeat: no-repeat;
}

#emailbox{
    width: 650px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    padding: auto;   
    
}
/*-------footer-------*/
.footer{
    background-color: #111010;
    color: #FFFFFF;  
    text-align: center;
    width: auto;
    height: 280px;
    padding: 100px 100px 0px 100px;
}
.footer-title{
    font-size: 30px;
    font-weight: 800;
}
.footer-title2{
    color: #E55473;    
}
#footer-pargraph{
    padding: 0px 449px 0px 448px;
}